*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.hero_section {
    background: #002ed0;
    padding:0 60px;/*padding in top right bottom left*/
    color:#fff;
}

.hero_wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;/*The grid-template-columns property specifies the number (and the widths) of columns in a grid layout. The values are a space separated list, where each value specifies the size of the respective column.*/
    grid-template-rows: 820px;/*size of rows*/
}

.column_left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;/*spaces them evenly based off of the size of the column*/
}

.column_left h1 {
    font-size: 90px;
}

.column_left p {
    font-size: 16px;
    line-height: 2.3;
}

.column_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column_right img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .hero_section{
        padding:30px;
    }
    .hero_wrapper{
        grid-template-columns: 1fr;/*becomes 1 single column if size of screen decreases*/
    }
    .column_left h1{
        font-size: 80px;
    }
    
}


@media screen and (max-width: 468px) {
   
    .hero_wrapper{
        grid-template-columns: 600px;/*becomes 1 single column if size of screen decreases*/
    }
    .column_left h1{
        font-size: 32px;
    }
    /*adjused responsiveness for mobile phones*/
}

/*About Section*/

.main__section {
    padding:60px 60px;
    background: #002ed0;
    color:#fff;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__container h1 {
    font-size: 110px;
    color:#fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;;
    margin:32px;
}

.main__content {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 700px;
}

.main__text {
    padding-right: 20px;
}

.main__text h2 {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom:32px
}

.main__text p {
    line-height: 2.3;
}

.main__image {
    display:flex;
    justify-content: center;
}

.main__img{
    width:420px;
    height:610px;
}

/*Media Queries for about section*/
@media screen and (max-width:1000px){
    .main__section {
        padding:30px; 
    }

    .main__content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__image {
        margin-top: 40px;
    }
    .main__container h1 {
        font-size: 70px;
    }
}