html, body{
    margin:0;
    background-color: antiquewhite;
    border-radius: 2px solid black;
    box-sizing: border-box;
    justify-content: center;
    padding:10px;
    height: 100%;
}
.container {
    border: 5px solid purple;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items:flex-end;
    
}
/*flex-basis determines the base width */
/*flex-grow decides how much of the extra space should be distributed among the items*/
/*flex-shrink decides to shirnk items after base width is crossed*/
/*growing and shrinking all the containers */
/*
.container>div {
    flex:1;
}
.container > #profile{
    flex:2;
}

*/

#home {
    background-color: red;
    
    
    
}
#search {
    background-color: green;
    
}
#logout {
    background-color:blue;
    
}
#profile{
    
}
/*flexbox is a block element
Main axis goes from left to right 
Cross axis goes from top to bottom
We can change this main and cross directions 
Using flex-direcrtion

default flex-direction is row

*/

/*
by default
justify-content=flex-start ;
meaning contents go left to right;
justify-content = flex end 
means content goes from right to left
justify-content= center 
means contents are at the center
justify-content has space-around propertly as well
it also has space between and space-evenly

*/